<div class="header-item">
  <a href="#">Home</a>
</div>

<div class="header-item">
  <a href="#questions">Questions</a>
</div>

<div class="header-item">
  <a href="#questions/new">New Question</a>
</div>
