<% if (question.isNew()) { %>
  <h1 class="heading-new">New Question</h1>
<% } else { %>
  <h1 class="heading-edit">Edit Question</h1>
<%  } %>

<div>
  Question: <input type="text" name="qtext" value="<%= question.escape('qtext') %>">
</div>

<div>
  Distractors: <input type="text" name="distractors" value="<%= question.escape('distractors') %>">
</div>

<div>
  Answer: <input type="text" name="answer" value="<%= question.escape('answer') %>">
</div>

<div class="submission">Submit</div>
