<% if (question.isNew()) { %>
  <h1 class="heading-new">Create A New Question</h1>
<% } else { %>
  <h1 class="heading-edit">Edit This Question</h1>
<%  } %>

<div>
  Question: What is <input class="qtext-left" type="text" name="qtext_left" value="<%= question.escape('qtext_left') %>">
                    <select class="qtext-operation" name="qtext_operation">
                      <option value="+">+</option>
                      <option value="-">-</option>
                      <option value="*">*</option>
                      <option value="/">/</option>
                    </select>
                    <input class="qtext-right" type="text" name="qtext_right" value="<%= question.escape('qtext_right') %>"> ?
</div>

<div>
  Distractors: <input type="text" name="distractors" value="<%= question.escape('distractors') %>">
</div>

<div>
  Answer: <p class="answer" name="answer"><%= question.escape('answer') %></p>
</div>

<div class="submission">Submit</div>
