<h1><%= question.isNew() ? "New Question" : "Edit Question" %></h1>
Question: <input type="text" name="qtext" value="<%= question.escape('qtext') %>">
Distractors: <input type="text" name="distractors" value="<%= question.escape('distractors') %>">
Answer: <input type="text" name="answer" value="<%= question.escape('answer') %>">
<button>Submit</button>
