<div class="qa-heading">
  <div class="qa-q-heading">Question</div>
  <div class="qa-a-heading">Answer</div>
  <div class="single-view">View</div>
</div>

<% _.each(questions, function(question) { %>
<div class="single-question">
  <div class="single-qtext"><%= question.escape('qtext') %></div>
  <div class="single-answer"><%= question.escape('answer') %></div>
  <div class="single-view"><a href="#questions/<%= question.id %>">View</a></div>
</div>
<% }); %>
