.question-form {
  margin: auto;
  background-color: rgb(34, 34, 34);
  color: rgb(211, 211, 211);
  width: 50%;
  margin: 0 auto;
  text-align: center;

  font-size: 18px;
}

.question-form h1 {
  padding: 20px;
  border-bottom: 2px solid rgb(24,24,24);
}

.heading-new {
  color: #9BC94F;
}

.heading-edit {
  color: #F96816;
}

.question-form input {
  background-color: rgb(24,24,24);
  border-bottom: 1px solid rgb(211, 211, 211);
}

.question-form div {
  padding: 20px;
  border-bottom: 1px solid rgb(24,24,24);
}

.submission {
  color: #179DBF;
  padding: 0 40px;
}

.submission:hover {
  cursor: pointer;
}
